
.advantages {
}
.advantages__container {
}

.advantages__list {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.advantages__paragraph {
  max-width: 360px;
  display: flex;
  flex-direction: column;
  padding: 30px 42px 50px;
}

.advantages__header {
  margin: 0;
}

.advantages__img {
  margin-bottom: 30px;
}
.advantages__title {
  text-align: center;
}

.advantages__text {
}

.advantages__image {
}
