

.advantages {
  position: relative;
  z-index: 1;
  width: 100%;
  background-color: #81b3d2;
  background-image: url("../img/advantages-img-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/advantages-img-desktop@2x.jpg");
  }

  &::after {
    position: absolute;
    content: "";
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(#e3ecf6, 0.9);
  }
}

.advantages__container {
  z-index: 2;
  position: relative;
  padding-top: 88px;
}

.advantages__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;

  @include vp-767 {
    flex-direction: column;
    align-items: center;

  }
}

.advantages__item {
  position: relative;
  background-color: $light-color;
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 81px;
  padding-bottom: 25px;

  &::before {
    position: absolute;
    content: "";
    left: 30px;
  }

  @media (min-width: $vp-768) {
    width: 360px;
  }

  @media (max-width: 1365px) {
    width: 206px;
    padding: 70px 12px 20px 20px;
    margin-bottom: 30px;

    &::before {
      left: 20px;
    }
  }

  @media (max-width: $vp-320) {
    width: auto;
    margin-bottom: 32px;
    padding: 70px 16px 20px 20px;
  }
}

.advantages__paragraph:not(:last-child) {
  @media (max-width: $vp-768) {
    margin-right: 30px;
  }
}

.advantages__header {
  margin: 0 0 9px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;

  @media (max-width: $vp-320) {
    width: 170px;
  }
}

.advantages__bg-img {
  position: absolute;
  top: 0;
  margin-bottom: 30px;
  left: 0;
  z-index: -3;
}

.advantages__title {
  margin: 74px 0 50px;
  text-align: center;

  @media (max-width: $vp-768) {
    margin: 60px 0 50px;
  }

  @media (max-width: $vp-320) {
    margin: 38px 0 31px;
  }
}

.advantages__text {
  margin: 0;
  font-size: 14px;
  max-width: 290px;
  line-height: 20px;
}

.advantages__text br {
  @media (max-width: $vp-768) {
    display: none;
  }
}

.advantages__image {
  max-height: 562px;
}

.advantages__item--liner::before {
  content: "";
  top: 30px;
  width: 27px;
  height: 32px;
  background-image: url("../img/svg/liner.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  @media (max-width: 1345px) {
    top: 25px;
    width: 21px;
    height: 26px;
    background-image: url("../img/svg/liner-tablet.svg");
  }
}

.advantages__item--ticks::before {
  content: "";
  top: 35px;
  width: 38px;
  height: 21px;
  background-image: url("../img/svg/all-inclusive.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  @media (max-width: 1345px) {
    top: 29px;
    width: 33px;
    height: 19px;
    background-image: url("../img/svg/all-inclusive-tablet.svg");
  }
}

.advantages__item--zodiac::before {
  content: "";
  top: 38px;
  width: 42px;
  height: 15px;
  background-image: url("../img/svg/zodiac.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  @media (max-width: 1345px) {
    top: 30px;
    width: 38px;
    height: 13px;
    background-image: url("../img/svg/zodiac-tablet.svg");
  }
}
