
.advantages {
}
.advantages__container {
  position: relative;
  padding-top: 88px;
}

.advantages__list {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.advantages__paragraph {
  width: 360px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  background-color: #f9fbfd;
}

.advantages__header {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
}

.advantages__bg-img {
  position: absolute;
  top: 0;
  margin-bottom: 30px;
  left: 0;
  z-index: -3;

}

.advantages__img {
  margin: 0 0 25px;
}

.advantages__title {
  margin: 74px 0 50px;
  text-align: center;
}

.advantages__text {
  font-size: 14px;
}

.advantages__image {
  max-height: 562px;
}
