.cruises-block__body {
  padding: 234px 0 190px;
  margin-left: 95px;
  position: relative;
  z-index: 2;

  @media (max-width:$vp-768) {
    padding: 237px 0;
    margin: 0;
  }

  @media (max-width:$vp-320) {
    padding: 157px 0 0;
  }
}

.cruises-block__title {
  font-weight: 700;
  font-size: 54px;
  line-height: 122.2%;
  color: $light-color;
  margin: 0 0 14px;

  @media (max-width:$vp-768) {
    font-size: 50px;
    margin: 0 0 12px;
  }

  @media (max-width:$vp-320) {
    font-size: 36px;
  }

}

.cruises-block__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: $light-color;
  margin: 0;

  @media (max-width:$vp-768) {
    font-size: 18px;
  }

  @media (max-width:$vp-320) {
    font-size: 16px;
    line-height: 136%;
  }
}

.cruises__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-position: bottom;
}
