.cruises__title {
  margin: 0;
  margin-bottom: 50px;
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  text-align: center;

  @media (max-width: $vp-768) {
    font-size: 26px;
  }

  @media (max-width: $vp-320) {
    font-size: 24px;
    margin-bottom: 33px;
  }
}

.cruises__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0 auto;
  padding: 0;

  @media (min-width: 1366px) {
    max-width: 1366px;
    margin: 0 auto;
  }

  @media (max-width: 619px) {
    flex-direction: column;
    align-items: center;
  }
}

.cruises__item {
  margin-bottom: 30px;

  &:not(:nth-child(4n)) {
    margin-right: 30px;
  }

  @media (max-width: 1365px) {
    &:not(:nth-child(4n)) {
      margin-right: 0;
    }

    &:not(:nth-child(3n)) {
      margin-right: 30px;
    }
  }

  @media (max-width: 1075px) {
    &:not(:nth-child(3n)) {
      margin-right: 0;
    }

    &:nth-child(odd) {
      margin-right: 30px;
    }
  }

  @media (max-width: 619px) {
    &:nth-child(odd) {
      margin-right: 0;
    }
  }
}
