.early-booking__container {
  display: flex;
  justify-content: space-around;
  padding-bottom: 90px;

  @media (max-width: $vp-768) {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 34px;
  }
}

.early-booking__left {
  padding-top: 179px;
  margin: 0 25px 0 2px;

  @media (max-width: $vp-768) {
    padding: 58px 0 29px 33px;
  }

  @media (max-width: $vp-320) {
    padding: 39px 0 25px 0;
    margin: 0;
  }
}

.early-booking__right {
  width: 403px;
  height: 455px;
  background-color: $text-color;
  padding: 41px 48px 40px 49px;
  margin: 16px 0 50px;

  @media (max-width: $vp-768) {
    padding: 41px 40px 40px 41px;
    margin: 16px 0 67px;
  }

  @media (max-width: 600px) {
    max-width: 300px;
  }


  @media (max-width: $vp-320) {
    width: 290px;
    height: auto;
    padding: 38px 30px 30px 30px;
    margin: 0 0 74px;
  }
}

.early-booking__title {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  margin: 0 0 7px;

  @media (max-width: $vp-768) {
    font-size: 34px;
    margin: 0 0 4px;
  }

  @media (max-width: $vp-320) {
    font-style: normal;
    font-size: 24px;
    line-height: 130%;
    margin: 0 0 13px;
  }
}

.early-booking__text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  margin: 0 0 7px;

  @media (max-width: $vp-320) {
    font-size: 16px;
    line-height: 140%;
  }
}
