
.early-booking__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: $text-color;
  background-image: url("../img/booking-img-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  padding-bottom: 90px;

  @media (max-width:$vp-768) {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 34px;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/booking-img-desktop@2x.jpg");
  }
}




.early-booking {
}
// .early-booking__container {
//   display: flex;
//   align-items: center;
//   justify-content: space-around;

//   @media (max-width:$vp-320) {
//     flex-direction: column;
//     align-items: center;
//     text-align: center;
//   }
// }

.early-booking__left {
  // padding: 0 0 0 61px;

  @media (max-width:$vp-768) {
    padding: 58px 0 55px 0;

  }
  @media (max-width:$vp-320) {
    padding: 39px 0 25px 0;

  }
}

.early-booking__right {
  width: 403px;
  height: 455px;
  background-color: $text-color;
  padding: 41px 40px 40px 58px;
  margin-bottom: 66px;


  @media (max-width:$vp-768) {
    padding: 41px 40px 40px 41px;

  }
  @media (max-width:$vp-320) {
    width: 290px;
    height: auto;
    padding: 38px 30px 30px 30px;

  }
}

.early-booking__title {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  margin: 0 0 20px;

  @media (max-width:$vp-768) {
    font-size: 34px;
    margin: 0 0 4px;

  }

  @media (max-width:$vp-320) {
    font-style: normal;
    font-size: 24px;
    line-height: 130%;
  }
}

.early-booking__br {

  @media (max-width:$vp-320) {
    display: none;
  }
}

.early-booking__text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  margin: 0;

}
.early-booking__popap {
}
.early-booking__header {
}
.early-booking__form {
}
.early-booking__button {
}

.early-booking__bg-img {
}
.early-booking__image {
}
