.form__header {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: $light-color;
  margin: 0 0 30px;

  @media (max-width:$vp-768) {
    text-align: left;
    margin: 0 0 30px 14px;
  }

  @media (max-width:$vp-768) {
    text-align: center;
    margin: 0 0 26px;
    line-height: 140%;
  }
}

.form__header-br {
  @media (max-width:$vp-320) {
    display: none;
  }
}

.form__input {
  border: none;
  width: 303px;
  height: 43px;
  padding: 11px 0 11px 16px;
  margin-bottom: 20px;

  @media (max-width:$vp-320) {
    width: 230px;
  }
}

.form__checkbox {
  margin-bottom: 20px;
}

.form__checkbox__input {
 display: none;
}

.form__checkbox__input:checked + .form__checkbox__lable::after {
  transform: scale(1);
}

.form__checkbox__lable {
  position: relative;
  width: 303px;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 130%;
  color: $light-color;
  display: flex;
  cursor: pointer;

  @media (max-width:$vp-768) {
    justify-content: space-between;
    width: 303px;
  }
  @media (max-width:$vp-320) {
    width: 176px;
    text-align: start;
  }
}

.form__checkbox__lable::before {
  content: "";
  flex: 0 0 18px;
  height: 18px;
  background-color: white;
  margin-right: 5px;

  @media (max-width:$vp-320)  {
    margin-right: 11px;
  }
}

.form__checkbox__lable::after {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 4px;
  left: 4px;
  background-image: url("../../img/svg/check-mark.svg");
  background-repeat: no-repeat;
  transform: scale(0);
}

.form__button {
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  margin-top: 8px;
  padding: 11px 90px 12px;
  border: none;
  background: $light-color;

  @media (max-width:$vp-320) {
    padding: 12px 53px;
    margin-top: 3px;
  }
}
