// // .header {
// //   z-index: 30;
// // }

// // .header__menu {
// //   display: flex;
// //   align-items: center;
// //   justify-content: space-between;
// //   background-color: transparent;

// //   @media (max-width: $vp-320) {
// //     padding-top: 10px;
// //   }
// // }

// // .header__logo-img {
// //   @media (max-width: $vp-768) {
// //     width: 38px;
// //     height: 20px;
// //   }

// //   @media (max-width: $vp-320) {
// //     width: 42px;
// //     height: 22px;
// //   }
// // }

// $basic-light: #f9fbfd;
// $basic-dark: #011c40;

// $mobile-min-width: 320px;
// $mobile-menu-max-width: 574px;
// $mobile-max-width: 767px;
// $tablet-min-width: 768px;
// $tablet-max-width: 1023px;
// $desktop-max-width: 1366px;
// $beyond-desktop-width: 1367px;

// $retina-dpi: 144dpi;
// $retina-dppx: 1.5dppx;

// .logo {
//   @media (max-width: $tablet-max-width) {
//     width: 38px;
//     height: 20px;
//   }

//   @media (max-width: $mobile-max-width) {
//     width: 42px;
//     height: 22px;
//   }
// }

// .page-header {
//   z-index: 100;
// }

// .page-header__inner {
//   display: flex;
//   justify-content: space-between;
//   padding-left: 103px;
//   padding-right: 103px;
//   padding-top: 35px;
//   z-index: 1;

//   @media (max-width: 1067px) {
//     padding-left: 45px;
//     padding-right: 45px;
//   }

//   @media (max-width: $tablet-max-width) {
//     padding-top: 30px;
//   }

//   @media (max-width: $mobile-max-width) {
//     padding-left: 15px;
//     padding-right: 15px;
//     padding-top: 20px;
//   }
// }

// .page-header__main-nav {
//   margin-top: 8px;

//   @media (max-width: $tablet-max-width) {
//     margin-top: -2px;
//   }
// }

// .page-header__logo {
//   align-self: center;
// }


// .page-header__text-wrapper {
//   color: $basic-light;
//   box-sizing: border-box;
//   padding-left: 198px;
//   padding-top: 190px;

//   @media (max-width: $tablet-max-width) {
//     padding-left: 45px;
//     padding-top: 210px;
//   }

//   @media (max-width: $mobile-max-width) {
//     padding-left: 15px;
//     padding-right: 15px;
//     padding-top: 130px;
//   }
// }

// .page-header__title {
//   margin: 0;
//   margin-bottom: 12px;
//   font-weight: 700;
//   font-size: 54px;
//   line-height: 66px;

//   @media (max-width: $tablet-max-width) {
//     font-size: 50px;
//     line-height: 61px;
//   }

//   @media (max-width: $mobile-max-width) {
//     font-size: 36px;
//     line-height: 45px;
//   }
// }

// .page-header__subtitle {
//   margin: 0;
//   font-size: 20px;
//   line-height: 24px;

//   @media (max-width: $tablet-max-width) {
//     font-size: 18px;
//     line-height: 22px;
//   }

//   @media (max-width: $mobile-max-width) {
//     font-size: 16px;
//   }
// }

// @media (max-width: $mobile-max-width) {
//   .page-header__inner {
//     flex-direction: column;
//     align-items: flex-start;
//     padding: 0;
//   }

//   .page-header__nav-toggle {
//     position: absolute;
//     top: 18px;
//     right: 12px;
//     display: block;
//     width: 24px;
//     height: 24px;
//     border: none;
//     margin: 0;
//     padding: 0;
//     background-color: transparent;
//   }

//   .page-header__nav-list {
//     display: none;
//   }

//   .page-header__logo {
//     padding-left: 15px;
//     padding-top: 20px;
//   }

//   .main-nav__close-menu {
//     display: none;
//   }

//   .page-header--no-js {
//     background-size: auto 638px;
//     background-position: bottom;
//     min-height: 807px;

//     .page-header__inner {
//       min-height: 299px;
//       background-color: $basic-light;
//       z-index: 1;
//     }

//     .page-header__logo {
//       padding-left: 15px;
//       padding-top: 20px;
//       padding-bottom: 40px;
//     }

//     path {
//       fill: $basic-dark;
//     }

//     .page-header__main-nav {
//       align-self: flex-start;
//       padding-left: 15px;
//       padding-bottom: 60px;
//     }

//     .page-header__nav-list {
//       display: flex;
//       min-width: 100%;
//       flex-direction: column;
//       background-color: $basic-light;
//       padding-left: 0;

//       a {
//         color: $basic-dark;
//       }
//     }

//     .main-nav__item + .main-nav__item {
//       margin: 0;
//       margin-top: 20px;
//     }

//     .main-nav__toggle {
//       display: none;
//     }

//     .page-header__text-wrapper {
//       padding-top: 180px;
//     }
//   }

//   .page-header--menu-opened {
//     background-size: auto 638px;
//     background-position: bottom;
//     min-height: 807px;

//     .page-header__inner {
//       min-height: 299px;
//       background-color: $basic-light;
//       z-index: 1;
//     }

//     .page-header__logo {
//       padding-left: 15px;
//       padding-top: 20px;
//       padding-bottom: 40px;

//       path {
//         fill: $basic-dark;
//       }
//     }

//     .page-header__main-nav {
//       align-self: flex-start;
//       padding-left: 15px;
//       padding-bottom: 60px;
//     }

//     .page-header__nav-list {
//       display: flex;
//       min-width: 100%;
//       flex-direction: column;
//       padding-left: 0;

//       a {
//         color: $basic-dark;
//       }
//     }

//     .main-nav__item + .main-nav__item {
//       margin: 0;
//       margin-top: 20px;
//     }

//     .main-nav__close-menu {
//       display: inline;
//     }

//     .page-header__text-wrapper {
//       padding-top: 180px;
//     }
//   }
// }


// @media (max-width: $mobile-min-width) {
//   .page-header--menu-opened,
//   .page-header--no-js {
//     background-size: contain;
//     background-position: bottom;
//   }
// }

// .main-nav__toggle {
//   display: none;
// }

// .main-nav__list {
//   display: flex;
//   flex-wrap: wrap;
//   list-style: none;
//   margin: 0;
//   padding: 0;
//   padding-left: 40px;

//   @media (max-width: $tablet-max-width) {
//     padding-left: 25px;
//   }
// }

// .main-nav__list a {
//   color: $basic-light;
// }

// .main-nav__item a {
//   text-decoration: none;
//   font-weight: 500;
//   line-height: 150%;

//   &:hover,
//   &:focus {
//     opacity: 0.8;
//   }

//   &:active {
//     opacity: 0.5;
//   }

//   @media (max-width: $tablet-max-width) {
//     font-size: 14px;
//     line-height: 17px;
//   }
// }

// .main-nav__item + .main-nav__item {
//   margin-left: 33px;

//   @media (max-width: $tablet-max-width) {
//     margin-left: 23px;
//   }

//   @media (max-width: $mobile-max-width) {
//     margin-left: 15px;
//   }
// }


// @media (max-width: $mobile-max-width) {
//   .main-nav__toggle-icon {
//     display: block;
//     width: 24px;
//     height: 13px;
//     z-index: 1;
//   }

//   .main-nav__item a {
//     font-size: 18px;
//     line-height: 22px;
//   }
// }
@mixin reset {
  margin: 0;
  padding: 0;
}

@mixin list-reset {
  @include reset;
  list-style: none;
}

@mixin text ($size, $line-height, $weight) {
  font-size: $size;
  line-height: $line-height;
  font-weight: $weight;
}

@mixin title-desktop {
  font-size: 28px;
  line-height: 1.5;
  font-weight: 600;
  color: $first-color;
}

@mixin title-tablet {
  font-size: 26px;
  line-height: 1.4;
  font-weight: 600;
  color: $first-color;
}

@mixin title-mobile {
  font-size: 24px;
  line-height: 1.4;
  font-weight: 600;
  color: $first-color;
}

@mixin animation {
  transition: 0.3s;
}

$first-color: #011c40;
$first-color-hover: rgba($first-color, 0.7);
$first-color-active: rgba($first-color, 0.3);
$second-color: #f9fbfd;
$second-color-hover: rgba($second-color, 0.6);
$second-color-active: rgba($second-color, 0.3);
$third-color: #d8d8d9;
$background-color: #f9fbfd;
$background-image-color: #1a3c75;
$gradient: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, #011c40 100%);

$mobile-width-min: 320px;
$mobile-width-max: 767px;
$tablet-width-min: 768px;
$tablet-width-max: 1023px;
$desktop-width-min: 1024px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

.main-nav__list {
  @include list-reset;

  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  min-width: 594px;
  max-width: 1090px;

  color: $second-color;
}

.main-nav__item {
  margin-left: 34px;
  padding-top: 8px;
  padding-bottom: 9px;
}

.main-nav__item a {
  @include text(16px, 1.25, 500);
  @include animation;

  color: $second-color;

  &:hover,
  &:focus {
    @include animation;

    color: $second-color-hover;
  }

  &:active {
    @include animation;

    color: $second-color-active;
  }
}

@media (max-width: $tablet-width-max) {
  .main-nav__list {
    min-width: 503px;
    max-width: 640px;
  }

  .main-nav__item {
    margin-left: 24px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .main-nav__item a {
    @include text(14px, 1.2, 500);
  }
}

@media (max-width: $mobile-width-max) {
  .main-nav {
    position: relative;

    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 100%;
  }

  .main-nav__list {
    position: relative;

    flex-direction: column;
    min-width: 320px;
    margin-top: 35px;
    margin-bottom: 46px;
  }

  .main-nav__item,
  .main-nav__item a {
    @include text(18px, 1.22, 500);

    padding: 10px 0;
    color: $first-color;
  }

  .main-nav__item {
    margin-left: 0;
    width: 91%;
  }

  .main-nav__item a {
    &:hover,
    &:focus {
      color: $first-color-hover;
    }

    &:active {
      color: $first-color-active;
    }
  }
}

.main {
  flex-grow: 1;
  display: block;
}


.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 35px;
  padding-bottom: 35px;
}

.header__logo {
  align-self: start;
  flex-shrink: 0;

  width: 70px;
  height: 38px;
}

.header__main {
  padding: 157px 95px;
  padding-bottom: 265px;

  color: $second-color;
}

.header__main h1,
.header__main p {
  @include reset;

  margin-bottom: 12px;
}

.header__main h1 {
  @include text(54px, 1.22, 700);
}

.header__main p {
  @include text(20px, 1.2, 400);
}

.header__main br {
  display: none;
}

@media (max-width: $tablet-width-max) {
  .header {
    background-image: url("../img/header-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/header-tablet@2x.jpg");
    }
  }

  .header__nav {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .header__logo,
  .header__logo svg {
    width: 38px;
    height: 20px;
  }

  .header__main {
    padding: 184px 0;
    padding-bottom: 261px;
  }

  .header__main h1,
  .header__main p {
    margin-bottom: 13px;
  }

  .header__main h1 {
    @include text(50px, 1.22, 700);
  }

  .header__main p {
    @include text(18px, 1.22, 400);
  }
}

@media (max-width: $mobile-width-max) {
  .header {
    background-image: url("../img/header-mobile@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/header-mobile@2x.jpg");
    }
  }

  .header__nav {
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .header__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .header__logo,
  .header__logo svg {
    width: 42px;
    height: 22px;
  }

  .header__main {
    position: relative;

    padding: 114px 0;
    padding-bottom: 167px;
  }

  .header__main h1,
  .header__main p {
    position: relative;
    z-index: 2;
    margin-bottom: 11px;
  }

  .header__main h1 {
    @include text(36px, 1.25, 700);
  }

  .header__main p {
    @include text(16px, 1.4, 400);
  }

  .header__main br {
    display: block;
  }
}

.header-nav button {
  display: none;
}

@media (max-width: $mobile-width-max) {
  .header-nav button {
    display: block;

    position: relative;
    top: 0;
    right: 0;
    padding: 0;

    width: 24px;
    height: 12px;

    background-color: transparent;

    cursor: pointer;
    border: none;
  }

  .header-nav--closed button::before {
    content: "";

    position: absolute;
    top: 4px;
    right: 0;

    width: 24px;
    height: 2px;

    background-color: $second-color;
    box-shadow: 0 6px 0 0 $second-color, 0 12px 0 0 $second-color;
  }

  .header-nav--closed button:active::before {
    background-color: $second-color-active;
    box-shadow: 0 6px 0 0 $second-color-active, 0 12px 0 0 $second-color-active;
  }

  .header-nav--opened button {
    &::before,
    &::after {
      content: "";

      position: absolute;
      top: 10px;
      right: -2px;

      width: 18px;
      height: 2px;

      background-color: $first-color;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:active::before,
    &:active::after {
      background-color: $first-color-active;
    }
  }

  .header-nav--opened,
  .header-nav--nojs {
    margin-right: -6.3%;
    margin-left: -6.3%;
    padding-top: 20px;
    padding-right: 6.3%;
    padding-left: 6.3%;
    overflow: hidden;

    background-color: $background-color;
  }

  .header-nav--opened {
    position: fixed;
    top: 0;
    left: 6.3%;
    z-index: 200;
    width: 100%;
    justify-content: flex-start;
    height: 100vh;
  }

  .header-nav--opened path,
  .header-nav--nojs path {
    fill: $first-color;
  }

  .header-nav--opened + .header__main::after,
  .header-nav--nojs + .header__main::after {
    position: absolute;
    content: "";
    top: 0;
    left: -7.4%;

    width: 112.5%;
    height: 100%;
    background: linear-gradient(180deg, rgba(1, 28, 64, 0) 20%, #011c40 100%);
  }

  .header-nav--closed .main-nav {
    display: none;
  }

  .header-nav--nojs button {
    visibility: hidden;
  }

  .header-nav--nojs .main-nav {
    display: block;
  }
}
