.main {
  flex: 1 1 auto;
}

.main__cruises-block {
  position: relative;
  z-index: 10;
  background-color: $main-bg-color;
  min-height: 650px;
  margin-bottom: 86px;

  @media (max-width:$vp-768) {
    min-height: 638px;
  }
  @media (max-width:$vp-320) {
    min-height: 500px;
  }

}

.main__about-cruises {
  margin-bottom: 120px;
}

.main__advantages {
  margin-bottom: 155px;
}

.main__upcoming-cruises {
  margin-bottom: 135px;
}

.main__early-booking {
  margin-bottom: 150px;
}

.main__contacts {
  margin-bottom: 120px;
}
