.main {
  flex: 1 1 auto;
  margin-top: -82px;

  @media (max-width:$vp-768) {
    margin-top: -57px;
  }

  @media (max-width:$vp-320) {
    margin-top: -52px;
  }
}

.main__cruises-block {
  position: relative;
  z-index: 10;
  background-color: $main-bg-color;
  height: 650px;
  margin-bottom: 86px;
  background-image: url("../../img/bg-top-desktop.jpg");
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-top-desktop@2x.jpg");
  }

  @media (max-width:$vp-768) {
    height: 638px;
    margin-bottom: 58px;
    background-image: url("../../img/bg-top-tablet.jpg");
    background-position: center;
  }
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-top-tablet@2x.jpg");
  }

  @media (max-width:$vp-320) {
    height: 500px;
    margin-bottom: 20px;
    background-image: url("../../img/bg-top-mobile.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-top-tablet@2x.jpg");
    }
  }
}

.main__about-cruises {
  margin-bottom: 120px;

  @media (max-width:$vp-768) {
    margin-bottom: 63px;
  }
  @media (max-width:$vp-320) {
    margin-bottom: 28px;
  }
}

.main__advantages {
  margin-bottom: 73px;
  padding-bottom: 121px;

  @media (max-width:$vp-768) {
    margin-bottom: 58px;
    padding-bottom: 73px;
  }
  @media (max-width:$vp-320) {
    padding-bottom: 32px;
    margin-bottom: 35px;
  }
}

.main__cruises {
  margin-bottom: 89px;

  @media (max-width:$vp-768) {
    margin-bottom: 70px;
  }
  @media (max-width:$vp-320) {
    margin-bottom: 33px;
  }
}

.main__early-booking {
  margin-bottom: 84px;

  @media (max-width:$vp-768) {
    margin-bottom: 70px;
  }
  @media (max-width:$vp-320) {
    margin-bottom: 7px;
  }
}

.main__contacts {
  margin-bottom: 120px;

  @media (max-width:$vp-768) {
    margin-bottom: 99px;
  }
  @media (max-width:$vp-320) {
    margin-bottom: 47px;
  }
}
