.menu {

}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  @media (max-width:600px) {
    display: none;
  }
}

.menu__item {

}

.menu__item:not(:last-child) {
  margin: 0 52px 0 0;

  @media (max-width:$vp-768) {
    margin: 0 23px 0 0;
  }
}
.menu__link {
  color: $light-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;

  @media (max-width:$vp-768) {
    font-size: 14px;
  }
}

.menu__burger {
  display: none;

  @media (max-width:600px) {
    display: block;
    position: relative;
    width: 24px;
    height: 12px;
  }

}
// .menu__burger:before,
//   .menu__burger:after {
//     content: '';
//     background-color: $light-color;
//     width: 100%;
//     height: 2px;
//     left: 0;
//   }
//   .menu__burger:before {
//     top: 0;
//   }
//   .menu__burger:after {
//     bottom: 0;
//   }

