.menu__box a{
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: $light-color;

  @media (max-width: $vp-768) {
    font-size: 14px;
    line-height: 17px;
  }

  @media (max-width: $vp-320) {
    color: $text-color;
    padding: 10px 0 0px 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }
}

.menu__box {
  @media (max-width: $vp-320) {
    margin: 0;
    padding: 0;
  }
}

.menu__btn {
  display: none;
  cursor: pointer;
  @media (max-width: $vp-768) {
    display: none;
    padding: 20px 0;
  }

  @media (max-width: $vp-320) {
    display: block;
    padding: 20px 0;
  }
}

.menu__toggle-line {
  background-color: $light-color;
  display: block;
  height: 2px;
  position:relative ;
  width: 24px;
}

.menu__toggle-line::before,
.menu__toggle-line::after {
  background-color: $light-color;
  content: "";
  display: block;
  position: absolute;
  transition: all .3s;
  width: 100%;
  height: 100%;
}

.menu__toggle-line::before {
  top: 7px;
}
.menu__toggle-line::after {
  top: -7px;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $vp-768)  {
    max-height: 0;
    position: absolute;
    text-align: center;
    left: 18%;
    top: 30px;
  }

  @media (max-width: $vp-320)  {
    overflow: hidden;
    max-height: 0;
    position: absolute;
    background-color: $light-color;
    text-align: center;
    right: 0;
    left: 11%;
    top: 0;
    margin: 0;
    padding-left: 0;
  }
}

.menu__input:checked ~ .menu__list {
  @media (max-width: $vp-320) {
    display: flex;
    max-height: 100%;
    width: 90%;
    transition: all .5s;
    z-index: 20;
    padding-bottom: 250px;
  }
}

.menu__input:checked ~ .menu__btn .menu__toggle-line {
  background-color: transparent;
}

.menu__input:checked ~ .menu__btn .menu__toggle-line::before {
 transform: rotate(-45deg);
 top: 0;
 left: 7px;
 background-color: $text-color;
 z-index: 40;
 width: 20px;
}

.menu__input:checked ~ .menu__btn .menu__toggle-line::after {
  transform: rotate(45deg);
  top: 0;
  left: 7px;
  background-color: $text-color;
  z-index: 40;
  width: 20px;
}

.menu__item:first-child {
  @media (max-width:$vp-320) {
     padding-top: 74px;
  }
}


.menu__item:not(:last-child) {
  margin: 0 33px 0 0;

  @media (max-width:$vp-768) {
    margin: 0 24px 0 0;
  }

  @media (max-width:$vp-768) {
    margin: 0 24px 20px 0;
  }
}

.menu__item a:hover {
  transition: all .3s;
  opacity: 0.6;
}

.menu__item a:active {
  opacity: 0.3;
}

.menu__link {
  @media (max-width: $vp-768) {
    color: black;
    display: block;
  }
}

.menu__input{
  display: none;
}
